
[hidden] {
    display: none !important;
}

#a {

    width: 100px;
    height: 200px;
    background: grey;
    box-sizing: 0 1 1 1;
}

#a a{
    display: block;
    transition: none;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
}