body{
    background-color:rgba(0,0,0,.4);
}

table{
        border-collapse: collapse;
        margin: 10px 0;
    thead,tbody{

        th,td{
            border: 2px solid #ffffff;
            padding: 5px;
        }
    }
}